@use "../../theme/utils";

:host {
  @include utils.flex-row-justify(center);
}

.project {
  @include utils.flex-column-gap(utils.$padding);
  @include utils.secondary-background-color();
  width: 60%;
  padding: utils.$padding;
  height: fit-content;

  &__title {
    text-align: center;
    margin-bottom: 0;
  }

  &__content {
    @include utils.flex-row-justify-gap(center, utils.$padding);
    padding-bottom: 50px;
    flex-wrap: wrap;

    &__card {
      @include utils.flex-column();
      width: calc(50% - 10px);
      min-width: 200px;

      &__img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      &__title {
        padding: 10px;
      }

      &__content {
        @include utils.flex-column-gap(utils.$padding);
        padding: 10px;

        &__icons {
          @include utils.flex-row-align-gap(center, 10px);

          &__icon {
            font-size: 35px;
          }
        }
      }

      &__button {
        width: auto;
        position: absolute;
        bottom: utils.$padding;
        right: utils.$padding;
      }
    }
  }
}
