.about-container {
  text-align: center;
  padding: 1rem;
}

.about-container h1 {
  padding: 1rem;
}

.about-me-container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.about-hobys-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.right-about {
  height: 100%;
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.right-about p {
  text-align: left;
  padding: 0 1rem 1rem 1rem;
}

.left-about {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-around;
}

.left-about h3,
.contact p,
.btn-cv {
  text-align: center;
  padding: 0.5rem;
}

.btn-cv {
  padding: 0.5rem;
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  flex: 1;
  padding: 0.5rem;
}

.clic-underline {
  text-decoration: underline;
}

.about-hobys-card {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5%;
}

@media screen and (max-width: 768px) {
  .about-me-container {
    flex-direction: column-reverse;
  }

  .left-about {
    padding: 0.5rem;
  }

  .about-container h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .links a {
    display: block;
    margin-bottom: 0.5rem;
  }
}
