@use "../../theme/utils";

:host {
  @include utils.flex-row-justify(center);
}

.experiences {
  @include utils.flex-column-gap(utils.$padding);
  @include utils.secondary-background-color();
  width: 60%;
  padding: utils.$padding;
  height: fit-content;

  &__title {
    text-align: center;
    margin-bottom: utils.$padding;
  }

  &__container {
    @include utils.flex-row-justify-gap(center, utils.$padding);
    flex-wrap: wrap;

    &__card {
      width: calc(50% - utils.$padding);
      min-width: 300px;
      max-width: 600px;

      &__header {
        @include utils.flex-column-align-gap(center, utils.$padding);
        @include utils.background-color();
        padding: utils.$padding;
        border-bottom: 2px solid utils.$primary;
        width: 100%;
        &__title {
          font-size: utils.$padding;
          font-weight: bold;
        }
        &__company {
          font-style: italic;
        }
      }

      &__content {
        padding: utils.$padding;
        &__date {
          font-weight: bold;
          margin-bottom: utils.$padding;
        }
        &__description {
          margin-bottom: utils.$padding;
        }
        &__location {
          font-style: italic;
        }
      }
    }
  }
}
