@use "../../../theme/utils";

.soft-skills {
  &__title {
    margin-bottom: 20px;
  }

  &__container {
    @include utils.flex-row-gap(20px);
    flex-wrap: wrap;
    &__item {
      max-width: calc(20% - 20px);
      flex: 1 1 200px;
      &__card {
        cursor: pointer;
        width: auto;

        &__title {
          text-align: center;
        }
      }
    }
  }
}
