$primary: rgb(40, 36, 52);
$primary-text: white;
$main-background: #e8e9ef;
$secondary-background: #fafafa;
$button-color: $primary;
$header-footer-color: $primary;

@mixin background-color() {
  background-color: $primary !important;
  color: $primary-text !important;
}

@mixin main-background-color() {
  background-color: $main-background !important;
}

@mixin secondary-background-color() {
  background-color: $secondary-background !important;
}

@mixin button-color() {
  background-color: $button-color !important;
  color: $primary-text !important;
}

@mixin header-footer-color() {
  background-color: $header-footer-color !important;
  color: $primary-text !important;
}

$padding: 15px;

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-row-align($align) {
  @include flex-row();
  align-items: $align;
}

@mixin flex-column-align($align) {
  @include flex-column();
  align-items: $align;
}

@mixin flex-row-justify($justify) {
  @include flex-row();
  justify-content: $justify;
}

@mixin flex-column-justify($justify) {
  @include flex-column();
  justify-content: $justify;
}

@mixin flex-row-gap($gap) {
  @include flex-row();
  gap: $gap;
}

@mixin flex-column-gap($gap) {
  @include flex-column();
  gap: $gap;
}

@mixin flex-row-align-justify($align, $justify) {
  @include flex-row-align($align);
  @include flex-row-justify($justify);
}

@mixin flex-column-align-justify($align, $justify) {
  @include flex-column-align($align);
  @include flex-column-justify($justify);
}

@mixin flex-row-align-gap($align, $gap) {
  @include flex-row-align($align);
  @include flex-row-gap($gap);
}

@mixin flex-column-align-gap($align, $gap) {
  @include flex-column-align($align);
  @include flex-column-gap($gap);
}

@mixin flex-row-justify-gap($justify, $gap) {
  @include flex-row-justify($justify);
  gap: $gap;
}

@mixin flex-column-justify-gap($justify, $gap) {
  @include flex-column-justify($justify);
  gap: $gap;
}

@mixin flex-row-align-justify-gap($align, $justify, $gap) {
  @include flex-row-align($align);
  @include flex-row-justify($justify);
  gap: $gap;
}

@mixin flex-column-align-justify-gap($align, $justify, $gap) {
  @include flex-column-align($align);
  @include flex-column-justify($justify);
  gap: $gap;
}
