<mat-card class="home">
  <h1 class="home__title">Bienvenue sur mon portfolio !</h1>

  <mat-divider></mat-divider>
  <div class="home__content">
    <div>
      <div class="home__content__section">
        <h2 class="home__content__subtitle">À propos de moi</h2>

        <p>
          Je m'appelle Arno Peyronon. Je suis étudiant en Master 1 Expert en
          Développement Web à Lyon.
        </p>
        <p>
          Durant mes études, j'ai concrétisé des projets allant de la création
          d'une Intelligence Artificielle à la réalisation de site web
        </p>
        <p>
          Étant curieux et investi de nature, je suis un étudiant souhaitant
          explorer de nombreux domaines dans l'informatique en général
        </p>
        <p>
          En dehors de mes études, je développe une application mobile qui devra
          être disponible sur Android et IOS pour un chorégraphe professionnel
        </p>

        <p>
          Je développe également un site vitrine pour une photographe
          professionnelle en utilisant les technologies simples du web
        </p>
      </div>

      <div class="home__content__buttons">
        <button
          *ngFor="let button of buttons"
          mat-raised-button
          color="primary"
          (click)="navigateTo(button.path)"
          class="home__content__button"
        >
          {{ button.label }}
        </button>
      </div>
    </div>
  </div>
</mat-card>
