@use "../../theme/utils";

.home {
  padding: utils.$padding;
  max-width: 1000px;
  &__title {
    text-align: center;
    margin-bottom: utils.$padding;
  }
  &__content {
    margin: 0 auto;
    &__section {
      margin-bottom: utils.$padding;
      &__subtitle {
        margin-bottom: utils.$padding;
      }
    }
    &__buttons {
      display: flex;
      justify-content: space-around;
      &__button {
        margin: 0 utils.$padding;
      }
    }
  }
}
