<mat-card class="home">
  <h1 class="home__title">{{ "KEY_WELCOME" | translate }}</h1>

  <mat-divider></mat-divider>
  <div class="home__content">
    <div>
      <div class="home__content__section">
        <h2 class="home__content__subtitle">
          {{ "KEY_ABOUT_ME" | translate }}
        </h2>

        <!-- TODO voir comment on gére les KEY pour avoir un contenu personalisable -->
        <div [innerHTML]="homeContent | safeHtml"></div>
      </div>

      <div class="home__content__buttons">
        <button
          *ngFor="let button of buttons"
          mat-raised-button
          color="primary"
          (click)="navigateTo(button.path)"
          class="home__content__button"
        >
          {{ button.label | translate }}
        </button>
      </div>
    </div>
  </div>
</mat-card>
