<mat-card class="footer">
  <mat-toolbar class="footer__content">
    <div class="footer__content__phone">
      <span> {{ "KEY_PHONE_NUMBER" | translate }} : </span>
      <i class="fas fa-phone"></i>
      <span>{{ phone }}</span>
    </div>
    <div class="footer__content__email">
      <span> {{ "KEY_EMAIL" | translate }} : </span>
      <i class="fas fa-envelope"></i>
      <a class="footer__content__email__link">
        {{ email }}
      </a>
    </div>
    <div class="footer__content__medias">
      <span> {{ "KEY_SOCIAL_MEDIAS" | translate }} : </span>
      <div class="footer__content__medias__icons">
        <ng-container *ngFor="let media of medias">
          <a
            class="footer__content__medias__icons__icon"
            matTooltip="{{ media.tooltip }}"
            [href]="media.link"
            target="_blank"
          >
            <i class="fab {{ media.icon }}"></i>
          </a>
        </ng-container>
      </div>
    </div>
  </mat-toolbar>
</mat-card>
