@use "../../theme/utils";

.header {
  height: 65px;
  &__content {
    height: 100%;
    &__row {
      @include utils.flex-row-justify(space-between);
      &__buttons {
        @include utils.flex-row-gap(utils.$padding);
        &__button {
          font-size: 20px;
        }
      }

      &__name {
        font-size: 20px;
      }
    }
  }
}
