<mat-card class="header">
  <mat-toolbar color="primary" class="header__content">
    <mat-toolbar-row class="header__content__row">
      <span class="header__content__row__name">{{ title }}</span>
      <div class="header__content__row__buttons">
        <button
          *ngFor="let navItem of navItems"
          class="header__content__row__buttons__button"
          mat-button
          [routerLink]="navItem.path"
        >
          {{ navItem.label | translate }}
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-card>
